.holder {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 50%;
  margin-left: 450px;
  margin-top: 20px;
}

.Input {
  margin-bottom: 30px;
  height: 50px;

}

.Button {
  background-color: #187bcd;
  color: white;
  width: 150px;
  height: 50px;
  font-size: 30px;
  margin-right: 120px;
  border-radius: 10px;

}

.buttonsGroup {
  margin-left: 230px;
}

.LoginText {
  margin-top: 150px;
  margin-left: 500px;
}
